@font-face {
    font-family: 'Gilroy-400';
    src: url(../Fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-500';
    src: url(../Fonts/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Noto';
    src: url(../Fonts/Noto-serif/NotoSerif-Bold.ttf);
}