* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333333;
}

input,
button,
textarea,
select {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: #e5e5e5;
    font-family: 'Gilroy-400', sans-serif;
    font-weight: 400;
    color: #333;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
}

.header .navbar .menu {
    display: flex;
    gap: 40px;
}

.header .navbar .menu .link {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.header .navbar .wrapper {
    display: flex;
    gap: 40px;
}

.header .navbar .wrapper .search {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header .navbar .wrapper .search i {
    color: #fff;
    font-size: 18px;
}

.header .navbar .wrapper .search span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.wrapper .login {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.wrapper .actions {
    display: flex;
    gap: 29px;
}

.wrapper .actions i {
    color: #ffffff;
}

.section {
    width: 100%;
    height: 85vh;
}

.section .main {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 110%;
}

.section .top {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.section .top .title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Noto', sans-serif;
    font-weight: 700;
}

.section .top .btn {
    color: #ffffff;
    background: transparent;
    border: 1px solid #333333;
    width: 261px;
    height: 51px;
    font-size: 18px;
    font-weight: 500;
}

.section .border-top {
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 14%;
}

.section .bottom {
    position: absolute;
    bottom: 2.5%;
    display: flex;
    gap: 15px;
}

.section .bottom .item {
    width: 170px;
    height: 50px;
    border-right: 1px solid #ffffff;
    display: flex;
    gap: 15px;
    align-items: center;
}

.section .bottom .item:last-child {
    border-right: none;
}

.site-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 100px 0 60px;
    color: #333333;
    text-align: center;
}

.site-title .title {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Gilroy-400', sans-serif;
}

.site-title .text {
    font-size: 30px;
    font-family: 'Noto', sans-serif;
    font-weight: 700;
}

.site-title.white {
    color: #ffffff;
}

.wrap {
    padding: 0 0 105px;
}

.wrap .menu {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 55px;
}

.wrap .menu .first {
    padding: 20px 36px;
    background: #333333;
}

.wrap .menu .first .title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gilroy-500', sans-serif;
    color: #ffffff;
}

.wrap .menu .item {
    width: 165px;
    height: 55px;
    background: #f9f9f9;
    border: 2px solid #d6d6d6;
    display: flex;
    align-items: center;
    position: relative;
}

.wrap .menu .item:before {
    content: '';
    width: 165px;
    height: 55px;
    border: 2px solid #d6d6d6;
    background: #f9f9f9;
    z-index: -1;
    top: 6px;
    left: 6px;
    position: absolute;
}

.wrap .menu .item .title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gilroy-500', sans-serif;
    color: #333333;
    text-align: center;
    margin: auto;
}

.wrap .box {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap .box .card {
    width: 350px;
    height: 280px;
    background: url("../images/img-5.jpg") no-repeat center / cover;
    position: relative;
}

.wrap .box .card:nth-child(2) {
    background: url("../images/img-6.png");
}

.wrap .box .card:nth-child(3) {
    background: url("../images/img-1.png");
}

.wrap .box .card:nth-child(4) {
    background: url("../images/img-2.png");
}

.wrap .box .card:nth-child(5) {
    background: url("../images/img-3.png");
}

.wrap .box .card:nth-child(6) {
    background: url("../images/img-4.png");
}

.wrap .box .card .title {
    font-size: 24px;
    font-family: 'Gilroy-500', sans-serif;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.salon {
    background: url("../images/sec-bg.jpg") no-repeat center / cover;
}

.salon .lorem {
    width: 730px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 0 100px;
}

.salon .lorem .text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gilroy-400', sans-serif;
    line-height: 25px;
}

.salon .lorem .btn {
    width: 224px;
    height: 51px;
    padding: 15px 35px;
    color: #333333;
    font-size: 18px;
    font-family: 'Gilroy-500', sans-serif;
    font-weight: 400;
    margin: auto;
    outline: none;
    border: none;
}

.row .box {
    flex-direction: column;
    display: flex;
    gap: 60px;
}

.row .box .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.row .box .card {
    width: 350px;
    height: 370px;
    background: url("../images/r-2.png") no-repeat center / cover;
    position: relative;
}

.row .box .card:nth-child(2) {
    background: url("../images/r-1.png");
}

.row .box .card:nth-child(3) {
    background: url("../images/r-3.png");
}

.row .box .card .title {
    width: 154px;
    font-size: 21px;
    font-family: 'Gilroy-400', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row .box .card:nth-child(2) .title {
    width: 204px;
}

.row .box .card:nth-child(3) .title {
    width: 206px;
}

.row .box .btn {
    width: 255px;
    height: 51px;
    background: #333333;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 15px 35px;
    margin: auto;
    font-size: 18px;
    font-family: 'Gilroy-500', sans-serif;
    font-weight: 500;
}

.social {
    margin-bottom: 150px;
}

.social .box {
    display: flex;
    flex-wrap: wrap;
}

.social .box :is(.top, .bottom) {
    display: flex;
    flex-wrap: wrap;
}

.form {
    background: url("../images/sec-bg.jpg") no-repeat center / cover;
    margin-bottom: 80px;
}

.form .item {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.form .item .subscribe {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.form .item .subscribe .title {
    font-size: 18px;
    font-family: 'Gilroy-400', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.form .item .right {
    width: 448px;
    height: 113px;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 14px 15px;
}

.form .item .right form {
    width: 418px;
    height: 85px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 25px;
}

.form .item .right form input {
    width: 200px;
    height: 45px;
    color: rgba(51,51,51,50);
    border: 1px solid #d6d6d6;
    padding: 15px 20px;
}

.form .item .right form .btn {
    width: 159px;
    height: 45px;
    background: #333333;
    color: #ffffff;
    font-family: 'Gilroy-500', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 14px 35px;
}

.footer {
    padding-bottom: 20px;
}

.footer .wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    border-bottom: 1px solid #333333;
}

.footer .wrapper .tags {
    width: 255px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer .wrapper .tags .title {
    font-size: 18px;
    font-family: 'Gilroy-500', sans-serif;
    font-weight: 500;
    color: #333333;
    border-bottom: 1px solid #333333;
    height: 30px;
    margin-bottom: 20px;
}

.footer .wrapper .tags .images {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer .wrapper .tags .phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .wrapper .tags .phone .tell {
    font-size: 16px;
    font-family: 'Gilroy-400', sans-serif;
    font-weight: 400;
    color: #333333;
}

.footer .wrapper .tags .media {
    display: flex;
    gap: 20px;
}

.footer .wrapper .tags .media i {
    font-size: 20px;
    cursor: pointer;
}

.footer .copy {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        max-width: 425px;
        margin: auto;
    }
    .header .menu {
        opacity: 0;
        pointer-events: none;
    }
    .header .wrapper {
        opacity: 0;
        pointer-events: none;
    }
    .header .navbar {
        display: flex;
        justify-content: center;
    }
    .header .logo {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 25px 0;
        background: #333333;
        display: flex;
        justify-content: center;
    }
    .header.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: #333333;
        z-index: 99;
        transition: 0.3s;
    }
    .header.active .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        pointer-events: all;
        z-index: 99;
        flex-direction: column;
        transition: 0.3s;
        margin: 190px auto;
    }
    .header.active .wrapper {
        opacity: 1;
        pointer-events: all;
        z-index: 99;
        flex-direction: column;
        transition: 0.3s;
    }
    .section .main {
        top: 0;
        object-fit: cover;
        height: 100vh;
    }
    .section .top {
        top: 50%;
        text-align: center;
    }
    .section .bottom .item {
        width: 75px;
        height: 25px;
    }
    .section .bottom .item img {
        width: 65px;
        object-fit: cover;
    }
    .wrap .box .card {
        width: 182px;
        height: 175px;
    }
    .wrap .menu {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .wrap .menu .item:before {
        width: 160px;
        height: 50px;
    }
    .salon .lorem {
        width: 100%;
    }
    .social .box {
        justify-content: center;
    }
    .footer .copy {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 375px;
        overflow: hidden;
    }
    .section .bottom {
        bottom: 4.5%;
    }
    .section .bottom .item:nth-child(5),
    .section .bottom .item:nth-child(6) {
        display: none;
        width: 0;
    }
    .section .bottom .item:nth-child(4) {
        border: none;
    }
    .social .box :is(.top, .bottom) iframe,
    .social .box :is(.top, .bottom) img {
        width: 100%;
    }
    .form .item .right {
        width: 100%;
    }
    .form .item .right form {
        width: 100%;
    }
    .form .item .right form input,
    .form .item .right form .btn {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    .section .bottom {
        left: 50%;
        transform: translateX(-50%);
    }
    .section .bottom .item:nth-child(4),
    .section .bottom .item:nth-child(5),
    .section .bottom .item:nth-child(6) {
        display: none;
        width: 0;
    }
    .section .bottom .item:nth-child(3) {
        border: none;
    }
    .form .item .right form {
        gap: 5px;
    }
    .form .item .right form input {
        width: 135px;
    }
    .form .item .right form .btn {
        width: 68px;
        padding: 0;
        font-size: 12px;
    }
}